@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap");
:root {
  --h1-font: 80px;
  --section-h1: 40px;
  --h2-font: 24px;
  --nav-bar-height: 133px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Maven Pro", "sans-serif";
  margin: 0;
  outline: none;
}

body {
  padding: 0;
}

.content {
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
}

@media screen and (max-width: 900px) {
  .content {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
}

.content .header .social_media {
  display: none;
}

@media screen and (max-width: 900px) {
  .content .header .social_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content .hero {
  margin: 0 auto;
  height: calc(100vh - var(--nav-bar-height));
  scroll-margin-top: 150px;
  scroll-snap-align: center;
}

@media screen and (max-width: 900px) {
  .content .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
}

.content .hero .scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 50%;
  bottom: 10%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.content .hero .scroll-down img {
  height: 1rem;
}

.content .hero .scroll-down img:nth-child(1) {
  -webkit-animation: arrow-anim 2s infinite;
          animation: arrow-anim 2s infinite;
}

.content .hero .scroll-down img:nth-child(2) {
  -webkit-animation: arrow-anim 2s infinite 0.25s;
          animation: arrow-anim 2s infinite 0.25s;
}

.content .hero .scroll-down img:nth-child(3) {
  -webkit-animation: arrow-anim 2s infinite 0.5s;
          animation: arrow-anim 2s infinite 0.5s;
}

.content p {
  padding: 1rem;
  text-align: justify;
  margin: 0 auto;
  max-width: 770px;
}

@media screen and (max-width: 900px) {
  .content p {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 600px) {
  .content p {
    font-size: 4vw;
    padding: 1rem 2rem;
  }
}

.content .section {
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .content .section {
    height: 130vh;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .content .section {
    height: 50rem;
  }
}

.content .section .section_h1 {
  font-size: var(--section-h1);
  margin: 0;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #2d2d2d;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .content .section .section_h1 {
    font-size: 6vw;
  }
}

.content .about-me {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media screen and (max-width: 900px) {
  .content .about-me {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.content .about-me .background_wrap {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url("../static/images/photographer.webp");
  background-attachment: fixed;
}

@supports not (background-attachment: fixed) {
  .content .about-me .background_wrap {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 900px) {
  .content .about-me .background_wrap {
    background-size: cover;
  }
}

.content .about-me .about-me__text-container {
  width: 60vw;
  margin-right: 3vw;
}

.content .about-me .about-me__text-container .section_h1 {
  color: #cfcfcf;
}

.content .about-me .about-me__text-container p {
  color: #afafaf;
}

@media screen and (max-width: 900px) {
  .content .about-me .about-me__text-container {
    width: 90vw;
    margin: auto;
  }
}

.content .activity p {
  color: #2d2d2d;
  margin-top: 1rem;
}

.content .activity .activities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[3];
      grid-template-columns: repeat(3, 250px);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 1em;
  margin-top: 2em;
}

@media screen and (max-width: 900px) {
  .content .activity .activities {
    -ms-grid-columns: (minmax(30vw, 250px))[3];
        grid-template-columns: repeat(3, minmax(30vw, 250px));
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  @supports not (aspect-ratio: 1) {
    .content .activity .activities {
      -ms-grid-columns: (30vw)[3];
          grid-template-columns: repeat(3, 30vw);
    }
  }
}

.content .activity .activities .activity-div {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.content .activity .activities .activity-div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content .activity .activities .activity-div img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@supports not (aspect-ratio: 1) {
  .content .activity .activities .activity-div img {
    width: 30vw;
    height: 30vw;
  }
}

.content .activity .activity-about {
  margin-top: 1.5rem;
  height: 8rem;
}

.content .activity .activity-about .desc-activity-title {
  text-align: center;
  font-size: 24px;
  color: #3d3d3d;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}

@media screen and (max-width: 900px) {
  .content .activity .activity-about .desc-activity-title {
    font-size: 4vw;
  }
}

.content .social {
  background-color: black;
}

@media screen and (min-width: 300px) {
  .content .social {
    height: 100vh;
  }
}

.content .social .social-media-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.content .social .social-media-div .social_media {
  margin-top: 0.5rem;
}

.content .social .section_h1 {
  color: #cfcfcf;
}

.content .social .contact-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .social .contact-div a {
  text-decoration: none;
  color: #cfcfcf;
  padding: 1rem;
  border: 1px solid #cfcfcf;
  margin-top: 0.5rem;
}

.content .social .contact-div a:hover {
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
  font-weight: 500;
  color: #2d2d2d;
}

.content footer {
  position: fixed;
  bottom: 0;
  right: 1rem;
  width: 100%;
  text-align: right;
  color: #afafaf;
}

@-webkit-keyframes intro_anim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes intro_anim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes arrow-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=about.css.map */