.menu-btn-container {
  display: none;
  height: 40px;
  width: 40px;
  background: none;
  position: fixed;
  right: 2rem;
  top: 2rem;
  padding: 0;
  margin: 0;
  z-index: 1500;
}

@media screen and (max-width: 900px) {
  .menu-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-btn-container.active .menu-btn {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  background: transparent;
}

.menu-btn-container.active .menu-btn::before {
  -webkit-transform: translateX(40px) rotate(45deg);
          transform: translateX(40px) rotate(45deg);
}

.menu-btn-container.active .menu-btn::after {
  -webkit-transform: translateX(40px) rotate(-45deg);
          transform: translateX(40px) rotate(-45deg);
}

.menu-btn-container .menu-btn {
  background: #2d2d2d;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn-container .menu-btn::before, .menu-btn-container .menu-btn::after {
  content: "";
  position: absolute;
  background: #2d2d2d;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn-container .menu-btn::before {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.menu-btn-container .menu-btn::after {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em 5rem;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 1em 0;
    position: fixed;
    height: 100vh;
    z-index: 1000;
    top: 0;
    background-color: white;
    overflow: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .header.active {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.header .nav_bar {
  width: 35em;
  font-size: var(--h2-font);
  text-transform: uppercase;
  border-bottom: 1px solid #cdcaca;
  padding: 0 5em 1em;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav_bar .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header .nav_bar .nav_ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.header .nav_bar .nav_ul .nav_item {
  background: none;
  width: 5rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .header .nav_bar .nav_ul .nav_item {
    width: 100%;
    margin-bottom: 5rem;
  }
}

.header .nav_bar .nav_ul .nav_item a {
  text-decoration: none;
  color: #0d0d0d;
}

.header .nav_bar .nav_ul .nav_item a:hover {
  font-weight: 500;
}

.header .nav_bar .nav_ul .nav_item a.active {
  font-weight: 500;
}

.social_media {
  padding: 0.7em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15em;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .social_media {
    max-width: 40vw;
  }
}

.social_media li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_media li a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=nav-bar.css.map */