.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 5rem;

  .nav_bar {
    width: 35em;
    font-size: var(--h2-font);
    text-transform: uppercase;
    border-bottom: 1px solid #cdcaca;
    padding: 0 5em 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav_ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0;
      width: 100%;

      .nav_item {
        background: none;
        width: 5rem;
        text-align: center;

        a {
          text-decoration: none;
          color: #0d0d0d;

          &:hover {
            font-weight: 500;
          }

          &.active {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.social_media {
  padding: 0.7em 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 15em;
  margin: 0;

  li {
    display: flex;
    text-align: center;
    align-items: center;

    a:hover {
      transform: scale(1.05);
    }
  }
}
